main {
    #recommendation {
        .container {

            .title,
            .title-mobile {
                text-align: left;
                font-weight: bold;
                font-size: 51px;
                letter-spacing: 0px;
                color: #303336;
                opacity: 1;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .title-mobile {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                    text-align: left;
                    font-weight: bold;
                    font-size: 40px;
                    letter-spacing: 0px;
                    color: #303336;
                    opacity: 1;
                }
            }

            .sub-title {
                width: 70%;
                margin: 1rem 0 4rem 0;
                text-align: left;
                font-size: 22px;
                letter-spacing: 0px;
                color: #7B8591;
                opacity: 1;

                @media screen and (max-width: 768px) {
                    font-size: 13px;
                    width: 90%;
                }
            }

            .main-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    'image-gallery image-gallery'
                    'rules about'
                    'rules about'
                    'rules image-gallery-two';
                grid-gap: 2.25rem;

                @media screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        'image-gallery'
                        'rules'
                        'about'
                        'image-gallery-two';
                }
            }

            .image-gallery {
                grid-area: image-gallery;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 1rem;
                border: 1px solid #EFEFEF;
                margin-bottom: 4rem;

                @media screen and (max-width: 768px) {
                    justify-items: center;
                    grid-template-columns: 1fr;
                }

                .box {
                    width: 100%;
                    max-width: 231px;
                    box-shadow: 0px 3px 6px #00000029;
                    margin-right: 1rem;

                    img {
                        height: 150px;
                        background: transparent url('img/elijah-macleod-654389-unsplash.png') 0% 0% no-repeat padding-box;
                        border-radius: 10px 10px 0px 0px;
                        opacity: 1;
                    }

                    .box-details {
                        @extend %row-flex-container;
                        padding: 1rem;

                        .box-labels {
                            .box-title {
                                font-weight: bold;
                                font-size: 11px;
                                letter-spacing: -0.09px;
                                color: #303336;
                                opacity: 1;
                            }

                            .box-sub-title {
                                font-size: 8px;
                                letter-spacing: 0px;
                                color: #7B8591;
                                opacity: 1;
                            }
                        }

                        .add {
                            padding: 0.25rem 0.5rem;
                            border-radius: 50%;
                            background-color: $grey-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            .rules {
                grid-area: rules;
                box-shadow: 0px 3px 6px #00000029;
                border: 1px solid #EFEFEF;
                border-radius: 10px;

                .figure {
                    @extend %row-flex-container;
                    align-items: flex-start;
                    margin-bottom: 2rem;

                    img {
                        width: 30%;
                        height: 154px;
                        max-width: 189px;
                        max-height: 154px;
                        margin-right: 1rem;
                    }

                    .figure-details {
                        width: 70%;
                        text-align: left;

                        .figure-title {
                            text-align: left;
                            font-size: 20px;
                            letter-spacing: 0px;
                            color: #3B3D40;
                            margin-bottom: 0.25rem;

                            @media screen and (max-width: 768px) {
                                font-size: 16px;
                            }
                        }

                        .figure-sub-title {
                            text-align: left;
                            font-size: 20px;
                            letter-spacing: 0px;
                            color: #3B3D40;
                            margin-bottom: 0.25rem;

                            @media screen and (max-width: 768px) {
                                font-size: 13px;
                            }
                        }

                        .figure-text {
                            text-align: left;
                            font-size: 20px;
                            letter-spacing: 0px;
                            color: #3B3D40;
                            margin-bottom: 1rem;

                            @media screen and (max-width: 768px) {
                                font-size: 11px;
                            }
                        }

                        .add-playlist-btn {
                            text-align: left;
                            font-size: 12px;
                            letter-spacing: 0px;
                            background-color: $white-color;
                            border: 1px solid #E1E1E1;
                            border-radius: 4px;
                            color: #4E4E4E;
                            opacity: 1;
                            cursor: pointer;
                            padding: 0.25rem;
                        }
                    }
                }

                .playlist {
                    padding: 0.5rem;

                    .item {
                        @extend %row-flex-container;
                        font-size: 16px;
                        letter-spacing: 0px;
                        color: #3B3D40;
                        margin-bottom: 1.5rem;

                        @media screen and (max-width: 768px) {
                            font-size: 13px;
                        }

                        .fa {
                            display: inline-block;
                            margin-right: 2rem;
                            padding: 0.75rem 0.75rem;
                            border-radius: 50%;

                            &.playing {
                                background-color: #838D8F;
                                color: $white-color;
                            }
                        }
                    }
                }
            }

            .about {
                grid-area: about;
                box-shadow: 0px 3px 6px #00000029;
                border: 1px solid #EFEFEF;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 168px;
                }

                .about-details {
                    padding: 1rem 2rem;

                    .about-title {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                        letter-spacing: -0.13px;
                        color: #303336;
                        opacity: 1;
                        margin-bottom: 0.5rem;

                        @media screen and (max-width: 768px) {
                            font-size: 13px;
                        }
                    }

                    .about-sub-title {
                        font-size: 14px;
                        letter-spacing: 0px;
                        color: #7B8591;
                        opacity: 1;

                        @media screen and (max-width: 768px) {
                            font-size: 12px;
                        }
                    }
                }
            }

            .image-gallery-two {
                grid-area: image-gallery-two;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1rem;
                margin-bottom: 4rem;

                @media screen and (max-width: 768px) {
                    justify-items: center;
                    grid-template-columns: 1fr;
                }

                .box {
                    width: 100%;
                    max-width: 231px;
                    box-shadow: 0px 3px 6px #00000029;
                    margin-right: 1rem;

                    img {
                        height: 150px;
                        background: transparent url('img/elijah-macleod-654389-unsplash.png') 0% 0% no-repeat padding-box;
                        border-radius: 10px 10px 0px 0px;
                        opacity: 1;
                    }

                    .box-details {
                        @extend %row-flex-container;
                        padding: 1rem;

                        .box-labels {
                            .box-title {
                                font-weight: bold;
                                font-size: 12px;
                                letter-spacing: -0.09px;
                                color: #303336;
                                opacity: 1;

                                @media screen and (max-width: 768px) {
                                    font-size: 9px;
                                }
                            }

                            .box-sub-title {
                                font-size: 8px;
                                letter-spacing: 0px;
                                color: #7B8591;
                                opacity: 1;

                                @media screen and (max-width: 768px) {
                                    font-size: 7px;
                                }
                            }
                        }

                        .add {
                            padding: 0.25rem 0.5rem;
                            border: 1px solid #DDDDDD;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}